{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script type="text/javascript" src="/assets/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/jquery-2.1.1.min.js"></script>
   
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.css">
    
    <title>{{.Title}}</title>
  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <h1>{{.Title}}</h1>
      </div>
      
      {{template "content" .}}

      <footer>
        <h3>Footer</h3>
      </footer>
    </div>
</html>
{{end}}
